# data/credits.csv filter=lfs diff=lfs merge=lfs -text
# data/keywords.csv filter=lfs diff=lfs merge=lfs -text
# data/links.csv filter=lfs diff=lfs merge=lfs -text
# data/movies_metadata.csv filter=lfs diff=lfs merge=lfs -text
# data/ratings.csv filter=lfs diff=lfs merge=lfs -text
# data/ratings_small.csv filter=lfs diff=lfs merge=lfs -text
